html{
    overflow: hidden;
}
.login-page .bg img {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.col-sm{padding:0}
.login-page .body{
    margin-top: 25%;
}
.time{margin-top:-4px}
.logo{display: block;margin: 0 auto;}
input{color:white !Important;}
.form-login {
    text-align: center;
    margin: 32px auto;
}
.form-login input, .form-login .button {
    margin: 12px 0;
}
.right-panel .header h6{display:inline-block}
.right-panel .user-panel{float: right;}