html, body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important}
.show{display:block;}
.hide{display:none;}
.main-panel{height:100vh}
.main-header{
    background: transparent;
    position: absolute;
    width: 100%;
}
.header-nav{height:100px;padding:12px 32px;}
.logo-img{display: inline-block;margin-right: 48px;}
.nav{display: inline-block}
.navbar-brand{height: 55px; }    
.left-panel{
    overflow: auto;
    margin-top: 100px;
}
.right-panel{
    background: rgba(77,77,77,1);
    background: -moz-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(53,53,53,1) 31%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(77,77,77,1)), color-stop(31%, rgba(53,53,53,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(53,53,53,1) 31%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(53,53,53,1) 31%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(53,53,53,1) 31%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(77,77,77,1) 0%, rgba(53,53,53,1) 31%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#000000', GradientType=0 );
    color: white;
    padding: 24px
}

.product-container .product {
    font-size: 12px;
    height: 150px;
    overflow: hidden;
    border: none;
    margin: 8px;
}
.product-container .product .card-img-overlay {
    background: rgba(0,0,0,0.2);
}
.product-container .product img.card-img {
    position: absolute;
    top: 0;
    left: 0;
}
li {
    margin-bottom: 0 !important ;
}
.categs{text-align: center}
.categs-button {
    min-width: 200px;
    border-radius: 50px;
    text-align: center;
    margin: 24px 0;
}
.icons{margin-right: 8px}
.card-title.name {
    position: absolute;
    bottom: 12px;
    width: 100%;
    padding: 0 6px;
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;
}

.card-text.price.text-right {
    font-size: 16px;
}
.categs-button {
    margin: 8px 0 !important;
} 